html {
    min-height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 172px minmax(300px, 5fr) / minmax(270px, 1fr) minmax(350px, 5fr);
    margin: 0px;
    padding: 0px;
    outline: solid;
}

.sidebar {
    background-color: rgb(25, 146, 212);
    grid-row: 1/3;
    grid-column: 1/2;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: white;
    font-weight: bolder;
    font-size: 1.3rem;
}

nav  {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
    z-index: 1;
}
nav div img[src$=".svg"] {
    height: 30px;
}
nav div img {
    height: 85px;
}
.circle {
    border-radius: 50%;
}

.upper {
    display: flex;
    height: 70px;
    justify-content: space-evenly;
    align-items: center;
}
.upper > div {
    display: flex;
    align-items: center;
}
.upper > div:nth-child(1) {
    gap: 20px;
    flex-grow: 1;
    padding-left: 40px;
}
.upper > div:nth-child(2) {
    flex-grow: .15;
    padding-right: 40px;
    font-weight: bolder;
    font-size: 1.2rem;
}

.lower {
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 5px;
    justify-content: end;
    min-width: 700px;
}
.lower div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1rem;
    font-weight: bold;
    flex-grow: 1;
    .big-text {
        font-size: 1.7rem;
    }
}
.lower div:nth-child(3) {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-grow: .25;
    button{
        background-color: rgb(25, 146, 212);
        border: none;
        padding: 12px;
        width: 110px;
        border-radius: 25px;
        color: white;
        font-size: 1rem;
        font-weight: bolder;
    }
    button:active {
        background-color: rgba(25, 146, 212, 0.801);
    }
}


#icon {
    height: 100px;
    flex-grow: 0;
}


main {
    background-color: rgb(226, 232, 240);
    display: grid;
    grid-template: .01fr 1fr 20px .01fr 315px 1fr / 3.2fr minmax(210px, .9fr);
    padding: 30px 25px 30px 15px;
    gap: 10px 15px;

}
input {
    border: none;
    background-color: rgb(226, 232, 240);
    border-radius: 40px;
    height: 30px;
    flex-grow: .75;
}
.projects {
    border-radius: 8px;
}

.projects.one {
    grid-row: 2/7;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 235.5px;
    gap: 20px
}
.projects.one > * {
    border-radius: 7px;
    background-color: white;
    border-left: 7px solid rgb(240, 180, 41);
    padding: 25px 15px 25px 15px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    img {
        height: 30px;
        filter: opacity(.7);
    }
}
.icons-flex {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%;
    align-self: end;
    gap: 30px;
    padding-right: 15px;
}
.projects.one > div > :nth-child(1) {
    font-size: 1.4rem;
    color: (14, 14, 14);
    font-weight: 600;
}
.projects.one > div > :nth-child(2) {
    font-size: 1rem;
    color: rgb(77, 77, 77);
}

.three {
    grid-row: 5/6;
    display: grid;
}
.two {
    display: grid;
    grid-template-rows: 3;
    padding: 25px 35px 25px 35px;
}
.two > div > :nth-child(2) {
    font-size: .85rem;
    color: rgb(112, 112, 112);
    padding-bottom: 10px;

}
.two > div > :nth-child(1) {
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(37, 37, 37);
    padding-top: 10px;
}

.two, .three {
    background-color: white;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.03);
}
.trending {
    grid-row: 4/5;
}
.txt {
    font-size: 1.25rem;
    color: rgb(32, 32, 32);
    font-weight: 600;
}

aside div img[src$=".svg"] {
    filter: invert();
    height: 35px;
}
aside .flex-1 > .icon {
    height: 50px;
}    

.flex-1 {
    display: flex;
    justify-content: start;
    margin-left: 20px;
    align-items: center;
    margin-right: 55px;
    margin-top: 20px;
    font-size: 2rem;
    gap: 10px;
}
.flex-2 > div {
    display: flex;
    gap: 20px;
    justify-content: start;
    align-items: center;
    margin-left: 30px;
}

.flex-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.flex-3 > div {
    display: flex;
    gap: 20px;
    justify-content: start;
    align-items: center;
    margin-left: 35px;
}

.flex-3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.projects.three {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
}
.projects.three > div {
    display: flex;
    gap: 15px;
    align-items: center;
}
.projects.three img {
    height: 50px;
    width: 50px;
    outline: solid rgb(54, 54, 54);
}

.trendingflexbox {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
}
.trendingflexbox div:nth-child(2) {
    color: rgba(87, 87, 87, 0.534);
    font-weight: 600;
    max-width: 23ch;
}
.trendingflexbox div:nth-child(1) {
    color: rgb(3, 3, 3);
}